version: '3'
services:
  app-db:
    image: mariadb:10.5
    container_name: app-db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=mariadb
      - MYSQL_DATABASE=app_db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=mariadb
      - MYSQL_HOST
    networks:
      - networks
    ports:
      - 3380:3306
# trai ngoai phai trong
networks:
  networks:
